docker {
    enabled = true
    // Mount local reference directory to container's /ref
    runOptions = '-v /Users/manishkumar/Desktop/Nextflow-Workflows/exome_pipeline/ref:/ref'
}

process {
    container = 'man4ish/exome_pipeline:latest'
    executor = 'local' // Optional: for clarity
    cpus = 4
    memory = '8 GB'
    time = '2h'
    errorStrategy = 'retry'
    maxRetries = 2
    maxErrors = 5
}
