params {
  fastq1 = "data/sample_R1.fastq"
  fastq2 = "data/sample_R2.fastq"
  adapters = "data/adapters.fa"
  skewer_threads = 4
  minimum_read_length = 30
  prefix = "sample"

  idx = "data/kallisto.idx"
  gtf = "data/annotation.gtf"
  kallisto_threads = 4
  bootstrap_samples = 50

  ref_tar = "data/genome_ref.tar.gz"
  STAR_threads = 4

  ref_flat = "data/ref_flat.txt"
  ribosomal_interval = "data/ribo.interval_list"
  ref_seq = "data/genome.fa"
}

docker.enabled = true
process.executor = 'local'
